# EditorConfig is awesome: http://EditorConfig.org

# top-most EditorConfig file
root = true

[*]
charset = utf-8
end_of_line = lf
indent_style = tab
indent_size = 2
trim_trailing_whitespace = true
insert_final_newline = true


[*.{sh,conf,wip,tvb,csc}]
shell_variant = bash
binary_next_line = false
switch_case_indent = false
space_redirects = false
keep_padding = false
function_next_line = false

